@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: "Kanit", sans-serif;
    font-style: normal;
    color: #fff;
    transition: 0.3s all ease-in;
}
html {
    scroll-behavior: smooth;
}
:root {
    --bg: #000;
    --text: #fff;
    --acc: #27ea66;
    --mc: #0071e2;
}
body {
    background: var(--bg);
}
section {
    padding: 150px 2%;
    min-height: 100vh;
}

.text-gradient {
    color: #d5d1ce;
    background-image: linear-gradient(
        45deg,
        #d5d1ce 47%,
        #b6b1ae 52%,
        #8a8785 56%,
        #5a5553 79%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradientanimted {
    color: #d5d1ce;
    background-image: linear-gradient(
        45deg,
        #d5d1ce 47%,
        #b6b1ae 52%,
        #8a8785 56%,
        #5a5553 79%
    );
    background-size: 200%; /* Make the background twice as wide for animation */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite; /* Shining animation */
}

@keyframes shine {
    0% {
        background-position: 200% 0; /* Start with the gradient out of view on the right */
    }
    100% {
        background-position: -200% 0; /* Move the gradient to the left */
    }
}

.nav {
    backdrop-filter: blur(15px) saturate(109%);
    -webkit-backdrop-filter: blur(15px) saturate(109%);
    background-color: rgba(199, 199, 199, 0.07);
    border-radius: 30px;
    border: 1px solid rgba(209, 213, 219, 0.18);
}

button {
    backdrop-filter: blur(15px) saturate(109%);
    -webkit-backdrop-filter: blur(15px) saturate(109%);
    background-color: rgba(199, 199, 199, 0.07);
    border-radius: 30px;
    border: 1px solid rgba(209, 213, 219, 0.18);
}
.bgt {
    background-image: linear-gradient(60deg, #08f38c, var(--mc));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    background-position: 0 0;
    animation: animate 7s ease infinite;
}
.greet {
    backdrop-filter: blur(15px) saturate(109%);
    -webkit-backdrop-filter: blur(15px) saturate(109%);
    background-color: rgba(199, 199, 199, 0.07);
    border-radius: 30px;
    border: 1px solid rgba(209, 213, 219, 0.18);
}
.social-icon {
    width: 60px;
    height: 60px;
    backdrop-filter: blur(15px) saturate(109%);
    -webkit-backdrop-filter: blur(15px) saturate(109%);
    background-color: rgba(199, 199, 199, 0.07);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(209, 213, 219, 0.18);
}
.head {
}
.stack {
    min-height: 50vh;
}
.nav-body {
    background: #0a0a0a;
    border: 1px solid rgba(209, 213, 219, 0.18);
    transition: 0.3s ease-in-out;
}
.navigation {
    background: rgb(0, 0, 0, 0.5);
}
